# Private Key Deployer 
PRIVATE_KEY=
DEPLOYER_ADDRESS=

# RPC URL
RPC_URL_ARBITRUM_SEPOLIA=https://sepolia-rollup.arbitrum.io/rpc
RPC_URL_BASE_SEPOLIA=https://sepolia.base.org

# EXPLORER API KEYS
ARBISCAN_API_KEY=...
BASESCAN_API_KEY=...

# For deploy source chain router (fill after deploy all success)
CCIP_RECEIVER_ADDRESS_ON_ARBITRUM=
# For Script DeploySourceChain
RPC_URL=https://sepolia-rollup.arbitrum.io/rpc